/* Global styles */
body {
    margin: auto;
    font-size: large;
  }
  
  /* Container
  #container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  
  /* Header */
  /* header {
    background-color: rgba(7, 3, 3, 0.529);
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
  } 


  nav {
    display: flex;
    gap: 10px;
  } */
  
  .nav-main{
        display: flex;
        background-color: rgb(255, 219, 164);
        justify-content: flex-end;
        padding: 30px 30px 30px 30px;
        gap: 50px;
        position: sticky;
        top: 0px;
  }

  img {
    display: block;
    width: 100%;
  }
  
  /* Main Content */
  /* main {
    background-color: blue;
    width: 100%;
    padding: 20px;
  }
   */
  /* Footer */
  footer {
    background-color: rgb(203, 24, 24);
    color: white;
    padding: 20px;
  }
  

.section-main {
  display: flex;
  flex-direction: column;
  padding: 10px 100px 100px 100px;
  

}

h2 {

  padding-left: 40px;
}

.article-generic {
 

}
.nav-main a {
  color: inherit; /* Inherit text color from parent */
  text-decoration: none; /* Remove underline */
  font-size: larger;
  color: black;
}

.carta {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.carta-reverse {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  padding: 20px;
}
.article-title {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;

}
.carta-txt {
  
  gap: 20px;
  padding: 40px;
  border: 1px solid black;
}
.carta-img {
  height: 200px;
  width: 400px;
}

articles h3 {
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
